[Unit]
Description=Backup Repos App
Requires=docker.service

[Service]
ExecStartPre=-/usr/bin/docker rm -f %p_%i
ExecStart=/usr/bin/docker run --rm --name %p_%i -v /home/core/backup-repos/:/var/backup-repos/archives/ vpommier/backup-repos:latest %i
